<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Todo App</title>
  <link href="/css/styles.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">
      <%- include('header.ejs') %>

      <!-- Form to create a new todo -->
      <form method="POST" action="/todos">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="flex gap-2 py-4">
          <div class="flex-auto">
            <input type="text" name="title" title="title" id="title" placeholder="What's next?" required class="border border-gray-300 rounded w-full p-2 text-sm text-gray-900" />
          </div>
          <div class="flex-auto">
            <input type="date" name="dueDate" title="dueDate" id="dueDate" required class="border border-gray-300 rounded w-full p-2 text-sm text-gray-900 cursor-pointer" />
          </div>
          <div class="flex-none">
            <button type="submit" class="bg-green-600 text-white py-1.5 px-5 rounded font-medium">Add</button>
          </div>
        </div>
      </form>

      <!-- Todos section -->
      <%- include('todos', { overdue, dueToday, dueLater, completedTodo }) %>
      <%- include('footer.ejs') %>
    </div>
  </div>


</body>
</html>
